body{
    background-image: url("https://res.cloudinary.com/dipcloqy3/image/upload/v1653446886/dave-hoefler-YWcy3iq1HqQ-unsplash-scaled_zxwkyi.jpg");
    height: 120vh;
    background-attachment: fixed;
    padding: 10px;
}